
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: 100vh;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
} 


.form-placeholder::placeholder {
  font-size: 15px;
}

.gradient-custom {
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(166, 17, 203, 10), rgba(37, 117, 252, 1))
  }

  .home{
    width: 100%;
    height: 100vh;
  }